.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to 'API', root_path, class: "navbar-brand"
  %button.navbar-toggler.collapsed{'data-target' => '#mainMenu', 'data-toggle' => 'collapse', 'type' => 'button', 'aria-controls' => 'mainMenu', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation'}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#mainMenu
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = link_to 'Test', root_path, class: 'nav-link'
    - if current_user and current_user.email
      = simple_form_for Task.new, html: { class: 'navbar-form navbar-right task' }, remote: true, type: :json do |f|
        .form-group
          .input-group
            = f.input_field :title, class: 'form-control', autofocus: true
            .input-group-btn
              %button.btn.btn-primary.btn-send
                %span.glyphicon.glyphicon-pencil
        .btn-group
          .btn-group
            %a.btn.btn-info.navbar-btn.dropdown-toggle(data-toggle="dropdown")
              = current_user.email[0..1].upcase
            %ul.dropdown-menu
              %li
                %a options
          = link_to destroy_user_session_path, method: :delete, class: 'btn btn-default navbar-btn' do
            %span.glyphicon.glyphicon-off
